.catalog {
    margin-left: 187px;
    padding: 0px 10px;
    width: calc(100%-160px);
}
.carsList{
	display: flex;
    flex-wrap: wrap;
	gap: 29px;
	/* padding-left: 128px;
	padding-right: 128px; */
    list-style: none;

}
.item {
	width: calc((100%-63px)/4);
	/* height: 426px; */
	margin-bottom: 50px;
}
